<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../styles/inicio_sesion.css">
		<link rel="icon" href="../../img/lib_icon.ico" media="(prefers-color-scheme: light)">
		<link rel="icon" href="../../img/library_icon_1.ico" media="(prefers-color-scheme: dark)">
		<title> Libreria encantada </title>
	</head>
	<body id="body">
		<div id="cont">
			<div class="cont_prin">
				<div class="cont_header">
					<img src="../../img/log.png" class="logo">
					<h1 class="t_h1">Bienvenido</h1>
					<a class="crea_btn" href="">Cuenta</a>
				</div>
				<div class="cont_form">
					<div class="header_cont_form">
						<h2 class="sub_title">Inicio de sesion</h2>
					</div>
					<form class="form" action='/' method="post">
						<label for="us" class="sb_form_title_us">Usuario</label><br>
						<input type="text" name="us" placeholder="Ingresa tu nombre de usuario" class="us" required><br>
						<label for="pass" class="sb_form_title_pass">Contraseña</label><br>
						<input type="password" name="pass" class="pass" placeholder="Ingresa tu contraseña" required><br>
						<input type="submit" class="boton" title="Iniciar" required>
					</form>
				</div>
				<footer>
					<p>Santillan Fuentes Jesus Emilio</p>
					<p>5-A TI clasica</p>
					<p>Libreria encantada</p>
					<p class="cu"> ©Yo (solo para que se vea mas lleno ;> ) profesor: Juan pablo segundo :v </p>
				</footer>
			</div>
		</div>
	</body>
</html>