/*  - view  */
body{
	margin: 0%;
	padding: 0%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}
.cont_header{
	height: 12vw;
	background-color: #111e28;
	display: flex;
	align-items: center;
}
.logo{
	height: 100%;
	padding-right: 2%;
}
.t_h1{
	color: #C1C1C3FF;
	font-size: 6.2vh;
	margin-left: 2vw;
	padding: 0%;
}
.crea_btn {
	text-decoration: none;
	text-decoration-color: none;
	background-color:#384450 ;
	border: 1px solid black;
	color: #F7F7F7F5;
	padding-right: 4.8%;
	padding-left: 4.8%;
	height: 36%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	border-radius: 2px;
	position: sticky;
	left: 80%;
}
.crea_b:hover {
	background-color:#111e28 ;
	transition: all .3s;
}
.boton {
	cursor:pointer;
}
.cont_prin{
	flex: 1;
	background-image: url(../img/s-o-c-i-a-l-c-u-t-UThaHAc8wh0-unsplash.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-attachment: fixed;
	inset: 0;
	overflow: hidden;
}
#cont{
	position: relative;
	inset: 0;
	overflow: hidden;
	z-index: 0;
}
.partic {
	position: absolute;
	bottom: 0;
	left: 0;
	
	pointer-events: none;
	background-color:#111e28 ;
	
	
}
@keyframes moverArriba {
	0%{
		opacity: 0;
		transform: translateY();	
	}
	25%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(-150vh)
	}
}
.header_cont_form{
	background-color: #111e28;
}
.sub_title{
	font-size: 3.6vw;
	margin-left: 4.6vw;
	margin-top: 1.8vw;
	padding-bottom: 0.2vw;
	color: #EDEDEDFF;
	font-weight: 700;
}
.cont_form{
	background-color: #fdfdfd;
	overflow: hidden;
	display: flex;
	height: 74vw;
	margin-top: 10%;
	margin-bottom: 28%;
	margin-right: 6%;
	margin-left: 6%;	
	border: 0px solid ;
	border-radius: 10px;
	justify-content: center;
	z-index: 9999;
}
.sb_form_title_us{
	color: black;
	font-size: 3.8vw;	
}
.sb_form_title_pass{
	color: black;
	font-size: 3.8vw;	
}
.form{
	padding-top: 6vw;
	width: 59vw;
	position: relative;
}
.us{
	border: 0;
	outline: 0;
	height: 3vw;
	border-bottom: 2px solid #333;
	background-color: #fdfdfd;
	font-size: 2vh;
	margin-top: 8vw;
	width: 110%;
	margin-bottom: 14vw;
}
.pass{
	border: 0;
	outline: 0;
	height: 3vw;
	border-bottom: 2px solid #333;
	background-color: #fdfdfd;
	font-size: 2vh;
	margin-top: 8vw;
	width: 110%;
}
.boton{
	color: white;				
	background-color:#1E1E26FF ;
	padding-top: 3.8%;
	padding-bottom: 3.6%;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 1.8vw;
	position: absolute;
	left: 60%;
	top: 92%;
	transform: translate(-50%, -50%);
	border-radius: 8px;	
}
footer{
	background-color: #111e28;
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 4%;	
	align-items: center;
	padding-left: 2%;
	height: 10vh;
	width: 100vw;
	z-index: 3;
}
footer p{
	display: inline-block;
	margin-right: 2%;
	color: #DBDBDBF5;
	font-size: 1.8vw;
}
.cu{
	font-size: 1.6vw; color: darkgrey; padding-left: 4% ;
}
@media screen and (min-width: 1020px) {
	.cont_header{
		height: 6vw;
		margin-bottom: 0vw;
	}
	.logo{
		margin-top: 0.2vh;
		margin-left: 6vh;	
		margin-right: 2vh;
		padding-right: 0.02vh;
		height: 110%;
	}	
	.t_h1{
		font-size: 5vh;
		justify-self: center;
		align-self: center;
	}
	.crea_btn {
		padding-left: 2vh;
		padding-right: 2vh;
		padding-top: 1vh;
		padding-bottom: 1vh;
		font-size: 1.1vw;
		font-weight: 500;
		margin: 0px;
		left: 89%;
	}
	.cont_form{
		flex-direction: column;
		overflow: hidden;
		margin-top: 8%;
		margin-bottom: 11%;
		margin-right: 25%;
		margin-left: 25%;
		padding-top: 0vh;
		padding-bottom: 2.8vh;
		height: 37.6vw;
	}
	.sub_title{
		font-size: 2.4vw;
		font-weight: 500;
		margin-bottom: 1vw;
	}
	.header_cont_form{
		width: 83vw;
		margin-top: 0vw;
		padding-top: 0vw;
	}
	.sb_form_title_us{
		margin-top: 0vw;
		margin-top: 2vw;
		font-size: 1.8vw;	
		margin-left: 4vw;	
	}
	.sb_form_title_pass{
		margin-top: 0vw;
		padding-top: 0vw;
		font-size: 1.8vw;
		margin-left: 4vw;		
	}
	.form{
		padding-top: 2.6vw;
	}	
	.us{
		margin-bottom: 4vw;
		font-size: 1.4vw;
		margin-top: 1.2vw;
		margin-left: 4vw;
		width: 70%;
	}
	.pass{
		font-size: 1.4vw;
		margin-top: 1.2vw;
		width: 70%;
		margin-bottom: 12vw;
		margin-left: 4vw;
	}
	.boton{
		color: white;				
		background-color:#1E1E26FF ;
		padding-top: 2.6%;
		padding-bottom: 2.4%;
		padding-left: 3.8%;
		padding-right: 3.8%;
		font-size: 1vw;
		margin-top: 6.4vw;
		margin-bottom: 10vw;
		margin-left: 0;
		margin-right: 0;
		position: absolute;
		left: 42%;
		top: 70%;
		transform: translate(-50%, -50%);
		border-radius: 8px;	
	}
	footer {
		height: 0.4vh;
		padding: 3.4%;
	}
	footer p{
		font-size: 1.2vw;
	}
	.cu{
		font-size: 0.8vw; 
		padding-left: 0;
		position: absolute;
		right: 8%;
	}
}
